@model CRUD.Models.SinhVien

<h2>Sửa sinh viên</h2>

<form asp-action="Edit" method="post">

    <input asp-for="Id" type="hidden" />

    <div class="mb-3">
        <label>Họ tên</label>
        <input asp-for="HoTen" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Tuổi</label>
        <input asp-for="Tuoi" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Lớp</label>
        <input asp-for="Lop" class="form-control" />
    </div>

    <button class="btn btn-warning">
        Cập nhật
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Quay lại
    </a>

</form>
